# Python specific
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*

# Virtual environments
.env
.venv
env
venv

# Build and distribution
*.egg-info
dist
build
docs/_build

# IDE specific
.vscode
.idea
.cursor

# Project specific
data
logs_step_*
.model_cache
.wandb
logs
